@model SelectAndRepair.Web.ViewModels.Cities.CitiesListViewModel
@using SelectAndRepair.Common
@{
    this.ViewData["Title"] = "Cities";
}

<h2 class="pt-2 pb-2 d-flex justify-content-between">
    All Cities [ @Model.Cities.Count() ]
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Cities" asp-action="AddCity">Add New City</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr class="table-dark">
            <th scope="col">Name</th>
            <th scope="col">Organizations</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in this.Model.Cities)
        {
            <tr>
                <th scope="row">@city.Name</th>
                <td>@city.OrganizationsCount</td>
                <td>
                    @if (city.Id <= SeededDataCounts.Cities)
                    {
                        <div class="text-muted" style="font-size:smaller">
                            Seeded Data <br/> Cannot Be Deleted
                        </div>
                    }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    asp-area="Administration" asp-controller="Cities" asp-action="DeleteCity" asp-route-id="@city.Id">
                                Delete
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
